* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #F1F1F3;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.w {
    width: 1233px;
    margin: auto;
}