.header {
    width: 100%;
    height: 78px;
    background-color: #FFFFFF;
}

.headerBox {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 22px 0 11px 0;
}

.logo {
    width: 163px;
    height: 100%;
}

.logo img {
    width: 163px;
    height: 46px;
}

.navList {
    display: flex;
    align-items: center;
    width: 903px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 0 20px 78px;
}

.navList li {
    position: relative;
    margin-right: 32px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.navList li:hover {
    font-weight: bold;
}

.navList li img {
    position: absolute;
    width: 24px;
    height: 12px;
    top: 0px;
    right: -26px;
}

.btnBox {
    display: flex;
    justify-content: space-between;
    width: 168px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0 9px 0;
}

.btnBox a {
    display: inline-block;
    width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #F77D28;
    border-radius: 12px;
    font-size: 14px;
    color: #F77D28;
    background-color: #FFFFFF;
}

.btnBox a:hover {
    color: #FFFFFF;
    background-color: #F77D28;
}

.nav {
    width: 100%;
    background-color: #ED530F;
}

.navBox {
    display: flex;
    height: 137px;
}

.navBox_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    height: 100%;
    box-sizing: border-box;
    padding: 59px 0 53px 0;
    color: #F9C7B1;
    font-size: 24px;
    font-weight: bold;
}

.indexName {
    display: inline-block;
    width: 145px;
    height: 37px;
    line-height: 35px;
}

.navBox_Left_img {
    width: 231px;
    height: 27px;
    box-sizing: border-box;
    padding-left: 15px;
}

.splitline {
    display: inline-block;
    width: 1px;
    height: 23px;
    background-color: #F9C7B1;
}

.navBox_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 38px 0 31px 152px;
}

.searchBox {
    display: flex;
    width: 713px;
    height: 42px;
}

.search {
    width: 610px;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 15px 0 15px 25px;
    font-size: 14px;
}

.searchBtn {
    width: 103px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
}

.quickSearch {
    display: flex;
}

.quickSearch li a {
    color: #FFFFFF;
    font-size: 12px;
    margin-right: 22px;
    cursor: pointer;
}

.quickSearch li a:hover {
    text-decoration: underline;
}

.news {
    display: flex;
    justify-content: space-between;
    height: 366px;
    box-sizing: border-box;
    padding-top: 47px;
}

.newsLeft {
    width: 920px;
    height: 320px;
    background-color: #FFFFFF;
}

.newsLeftTop {
    display: flex;
    width: 920px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 28px;
    border-bottom: 1px solid #F1F1F3;
}

.newsLeftTop li {
    margin-right: 58px;
    box-sizing: border-box;
    border-bottom: 2px solid #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

/* .newsLeftTop li:hover { */
/* font-weight: bold; */
/* border-bottom: 2px solid #F77A23; */
/* } */

.newsBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 920px;
    height: 271px;
    box-sizing: border-box;
    padding: 18px 35px 24px 21px;
}

.newBox {
    display: flex;
    justify-content: space-between;
    width: 423px;
    height: 38px;
    list-style: disc;
}

.newBoxLeft {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 38px;
}

.newBoxLeft_top {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    cursor: pointer;
}

.newBoxLeft_top:hover {
    text-decoration: underline;
}

.newBoxLeft_bottom {
    color: #B2B2B2;
    font-size: 12px;
}

.newBoxRight {
    width: 46px;
    font-size: 14px;
}

.newsRight {
    width: 297px;
    height: 320px;
    background-color: #FFFFFF;
}

.newsRightTop {
    display: flex;
    width: 100%;
    height: 83px;
    box-sizing: border-box;
    padding: 18px 0 12px 21px;
    border-bottom: 1px solid #EAEAEA;
}

.newsRightTopLogoBox {
    position: relative;
    width: 49px;
    height: 52px;
    margin-right: 19px;
    background-color: #7DB627;
}

.newsRightTopLogoBox img {
    position: absolute;
    top: 14px;
    left: 11px;
    width: 24px;
    height: 24px;
}

.newsRightTopContentBox {
    width: 150px;
    height: 52px;
}

.newsRightTopTitle {
    font-size: 18px;
    font-weight: bold;
}

.newsRightTopFont {
    color: #7E8DA6;
    font-size: 12px;
}

.newsRightBottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 237px;
    box-sizing: border-box;
    padding: 9px 15px 9px 15px;
}

.newsRightBottomLi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 131px;
    height: 68px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    cursor: pointer;
}

.newsRightBottomLi img {
    width: 24px;
    height: 24px;
}

.spaceBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    box-sizing: border-box;
    padding: 0 442px;
    font-size: 26px;
    font-weight: bold;
}

.spaceBoxLine {
    width: 80px;
    height: 1px;
    background-color: #E2E2E3;
}

.jobFairBox {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.recruitBoxBanner {
    width: 296px;
    height: 400px;
}

.recruitBoxBanner img {
    width: 296px;
    height: 400px;
}

.recruitBoxContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 920px;
    height: 400px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 32px 24px 20px 26px;
}

.recruitBoxContentTop {
    display: flex;
    justify-content: space-between;
    width: 872px;
    height: 164px;
}

.recruitBoxContentTopCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 428px;
    height: 164px;
    background-color: #EFF4F8;
    box-sizing: border-box;
    padding: 32px 24px 26px;
    cursor: pointer;
}


.recruitBoxContentTopCard_title {
    font-size: 16px;
    font-weight: bold;
}

.recruitBoxContentTopCard_title:hover {
    color: #ED530F;
}

.recruitBoxContentTopCard_content {
    width: 386px;
    height: 69px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 14px;
}

.recruitBoxContentList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 872px;
    height: 158px;
}

.recruitBoxContentList li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.recruitBoxContentList li:hover {
    background-color: #EFF4F8;
}

.recruitBoxContentList_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 576px;
    height: 30px;
    cursor: pointer;
}

.recruitBoxContentList_left img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.recruitBoxContentList_left_title {
    font-size: 14px;
}

.recruitBoxContentList_left_date {
    font-size: 14px;
}

.recruitBoxContentList_btnBox {
    display: flex;
    justify-content: space-between;
    width: 267px;
}

.recruitBoxContentList_btn {
    display: inline-block;
    width: 78px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #878787;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.recruitBoxContentList_btn:hover {
    background-color: #ED530F;
    color: #FFFFFF;
    border: 1px solid #ED530F;
}

.banner {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* height: 375px; */
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 5px;
}

.banner li {
    float: left;
    position: relative;
    width: 297px;
    height: 151px;
    cursor: pointer;
    margin-bottom: 18px;
    margin-right: 10px;
}

/* .banner li:hover {
    transform: scale(1.1);
    transition: .5;
} */


.banner li::before {
    position: absolute;
    width: 297px;
    height: 151px;
    background: rgba(127, 127, 127, 0.7);
    content: '';
    opacity: 0;
    transition: .5s;
}

.banner li:hover::before {
    opacity: 1;
}

.deleteBtn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #EEEEEE;
}

.banner li img {
    width: 297px;
    height: 151px;
}

.recruitBox {
    display: flex;
    flex-direction: column;
    height: 528px;
}

.recruitList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 47px;
    line-height: 47px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 46px;
}

.recruitList li {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    box-sizing: border-box;
}

/* .recruitList li:hover {
    border-bottom: 2px solid #ED530F;
} */

.recruitCardList {
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 461px;
}

.recruitCard {
    width: 297px;
    height: 141px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    padding: 27px 15px 15px;
    background-color: #fff;
    cursor: pointer;
}

.recruitCard:hover {
    border: 2px solid #ED530F;
}

.recruitCardTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding-bottom: 22px;
    border-bottom: 1px solid #EEEEEE;
}

.recruitCardTop_title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

.recruitCardTop_money {
    color: #ED530F;
}

.recruitCardTop_condition {
    color: #B3B3B3;
    font-size: 12px;
}

.recruitCardBottom {
    width: 100%;
    height: 48px;
    line-height: 48px;
    /* text-align: center; */
    font-size: 14px;
}

.seeMore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
}

.seeMore a {
    display: inline-block;
    width: 400px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ED530F;
    color: #FFFFFF;
    font-size: 14px;
}

.famousEnterprisesBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 480px;
}

.famousEnterprisesCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 294px;
    height: 231px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.famousEnterprisesCard:hover:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 294px;
    height: 231px;
    line-height: 354px;
    text-align: center;
    content: '扫一扫';
    color: #FFFFFF;
    opacity: 1;
    background: rgba(127, 127, 127, 0.7) url(../static/images/QRcode.png) no-repeat 50% 40%;
}

.famousEnterprisesCard::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 294px;
    height: 231px;
    line-height: 354px;
    text-align: center;
    content: '';
    background: rgba(127, 127, 127, 0.7) url(../static/images/QRcode.png) no-repeat 50% 40%;
    opacity: 0;
    color: #FFFFFF;
    transition: 1.5s;
}


.famousEnterprisesCardTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 88px; */
    height: 165px;
    box-sizing: border-box;
    padding: 24px 50px 18px;
    border-bottom: 1px solid #F1F1F3;
}

.famousEnterprisesCard_logo {
    width: 74px;
    height: 72px;
}

.famousEnterprisesCard_title {
    width: 194px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.famousEnterprisesCard_information {
    color: #55738B;
    font-size: 12px;
}

.famousEnterprisesCardBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 60px;
}

.famousEnterprisesCardBottom_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.focusInformation {
    display: flex;
    justify-content: space-between;
    height: 526px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 35px 22px 30px;
    margin-bottom: 50px;
}

.focusInformation_left {
    display: flex;
    flex-direction: column;
    width: 690px;
    height: 461px;
    overflow: hidden;
}

.focusInformation_leftTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rotationChart {
    width: 3000px;
    height: 261px;
}

.rotationChart_Li {
    float: left;
    width: 690px;
    height: 261px;
}

.rotationChart img {
    width: 690px;
    height: 261px;
}

.rotationChart_sort {
    width: 690px;
    height: 20px;
    margin-bottom: 18px;
    box-sizing: border-box;
    text-align: center;
}

.sort{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #B7C1D1;
    margin-right: 5px;
    cursor: pointer;
}

.focusInformationContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 690px;
    height: 131px;
    background-color: #EEF3F7;
    box-sizing: border-box;
    padding: 26px 22px 28px;
}

.focusInformationContentBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.focusInformationContent_title {
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: bold;
}

.focusInformationContent_date {
    font-size: 14px;
    font-weight: normal;

}

.focusInformationContent_content {
    width: 637px;
    height: 38px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 16px;
    text-indent: 32px;
}

.focusInformation_right {
    width: 440px;
    height: 100%;
}

.focusInformation_right_tabs {
    display: flex;
    margin-bottom: 13px;
}

.focusInformation_right_tab {
    width: 72px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
    margin-right: 32px;
    cursor: pointer;
}

.focusInformation_right_tab:hover {
    border-bottom: 2px solid #ED530F;
}

.focusInformation_right_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 440px;
    height: 427px;
}

.focusInformation_right_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.focusInformation_right_list_title,
.focusInformation_right_list_date {
    font-size: 14px;
}

.focusInformation_right_list_title {
    width: 310px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 320px;
    background-color: #2B2C31;
}

.footerBody {
    padding: 56px 24px 0;

}

.footerBodyDl {
    display: flex;
}

dl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 116px;
    margin-right: 130px;
}

dt {
    color: #FFFFFF;
    font-size: 14px;
}

dd {
    color: #9E9FA0;
    font-size: 12px;
    cursor: pointer;
}

dd:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.copyRight {
    color: #FFFFFF;
    font-size: 12px;
}

.footerBodyRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 226px;
    height: 162px;
}